$blue: #3746d7;
:host{
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f6f7fd;
  overflow: auto;
  
  
  #section1{
    height:400px;
    position: relative;

    #header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      #createTaskButton{
        margin-left:20px;
      }
    }

    #container{

      width: 80%;
      margin: auto;
      min-height: 200px;
      margin-top: 0;
      position: absolute;
      top: 100px;
      margin: auto;
      left:0px;
      right: 0px;


      h1{
        margin:0px;
        color:#0a0af0;
      }

      #cardHeader{
        margin-left: -16px;
        margin-right: -16px;
        border-bottom:1px solid #CCC; margin-bottom:20px;
        padding-left: 20px;
        padding-right:20px;

        .category{
          margin-right: 14px;
          font-weight: bold;
          color: #b88b8b;
          font-size:  16px;
          line-height: 50px;
          border-bottom-right-radius:0px;
          border-bottom-left-radius:0px;
          &.active{
            color:$blue;
            border-bottom: 2px solid #f39b86;
          }
        }
      }

      #content{
        margin-top:10px;
       ::ng-deep{
        mat-card{
          padding-top:10px;
          min-height: 300px;

          mat-selection-list{
            .mat-list-item-content{
              flex-direction: row !important;

              mat-pseudo-checkbox{
                margin-right:20px;

                &.mat-pseudo-checkbox-checked{
                  background-color:rgb(245, 1, 22);
                }
              }
            }
          }
        }
       }
       
      }
      
    }

  }

  #section2{
    height: 800px;
    background-image: linear-gradient(#283593, #7986CB);

    

  }
}