
<div id="section1">
  <div id="container">
      <div id="header">
        <h1>My Todos</h1> 

        <div id="actions">
          <button mat-icon-button matTooltip="Click here to search"><mat-icon>search</mat-icon></button>
          <button mat-icon-button   [disabled]='selectedTasks.length<1'><mat-icon>delete</mat-icon></button>
          <button id="createTaskButton" mat-raised-button color="primary">Create</button>
        </div>
      </div>
 
      <div id="content">
        <mat-card>
            <mat-card-content>
              <div id="cardHeader">
                <div id="categories">
                   <button 
                   (click)="openCategory(category)"
                   class="category" *ngFor="let category of categories" 
                   [ngClass]="{'active': category.active}"
                   mat-button>{{category.title}}</button>

                </div>
                <div id="cardActions"></div>
              </div>
              <div id="cardContent">  
                  <mat-selection-list [(ngModel)]="selectedTasks">
                      <mat-list-option>Task 1</mat-list-option>
                      <mat-list-option>Task 2</mat-list-option>
                      <mat-list-option>Task 3</mat-list-option>
                      <mat-list-option>Task 4</mat-list-option>
                      <mat-list-option>Task 5</mat-list-option>
                      <mat-list-option>Task 6</mat-list-option>
                      <mat-list-option>Task 7</mat-list-option>
                      <mat-list-option>Task 8</mat-list-option>
                      <mat-list-option>Task 9</mat-list-option>
                      <mat-list-option>Task 10</mat-list-option>
                      <mat-list-option>Task 11</mat-list-option>
                      <mat-list-option>Task 12</mat-list-option>
                      <mat-list-option>Task 13</mat-list-option>
                      <mat-list-option>Task 14</mat-list-option>
                      <mat-list-option>Task 15</mat-list-option>
                    </mat-selection-list>
              </div>
            </mat-card-content>
         </mat-card>

      </div>

  </div>
</div>

<div id="section2">
   
</div>